.login-container {
  width: 30vw;
  margin-left: 35vw;
  margin-top: 25vh;
  box-shadow: 0px 0px 10px 5px #e0e0e0;
  min-height: 30vh;
  border-radius: 8px;
  padding-top: 48px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
